
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Book.woff2') format('woff2'),
       url('./fonts/CircularStd-Book.woff') format('woff'),
       url('./fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 400; /* normal weight */
  font-style: normal;
}


@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Black.woff2') format('woff2'),
       url('./fonts/CircularStd-Black.woff') format('woff'),
       url('./fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 700; /* bold weight */
  font-style: normal;
}


body {
  font-family: "Circular Std", sans-serif;
padding-left: 20px;
padding-right: 20px;
overflow-x: hidden;
box-sizing: border-box;
}
